@model WebApplication3.Models.Table_1
@{
    ViewData["Title"] = "About Us";
}

    <section class="team">
        <h1>Meet the team</h1>
        <img src="/Picture/team.png" alt="KhumaloCraft Emporium Team" />
    </section>

    <section class="mission">
        <div class="container">
            <h2>Our Mission</h2>
            <p> At KhumaloCraft Emporium, we believe in the power of  handcrafted artistry to tell stories, connect cultures, and enrich lives. We are committed to building a platform where talented artisans can share their creations with the world while receiving fair compensation and recognition. </p>
        </div>
    </section>

    <section class="values">
        <div class="container">
            <h2>Our Values</h2>
            <ul>
            <li> Authenticity: We acnowledge the unique artistry and traditions embodied in each handcrafted piece. </li>
            <li> Community: We create a welcoming space where customers and artisans feel connected and valued. </li>
            <li> Sustainability: We support practices that are in mind of the environment and the well-being of artisan communities. </li>
                
            </ul>
        </div>
    </section>

  




