    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <img src="~/Picture/coverhandcraft.jpeg" width="1300" />

    <section class="mission">
        <div class="container">
            <h2 class="text-center">Our Mission</h2>
            <p class="text-center"> KhumaloCraft Emporium is dedicated to connecting talented artisans from around the globe with a discerning audience. Discover unique, handcrafted works and support the preservation of traditional artistry. </p>
        </div>
    </section>

  


