@model WebApplication3.Models.ProductTable
@{
    ViewData["Title"] = "MyWork";
}

<h1>Discover Our Handcrafted Treasures</h1>

<h2>Featured Artisan Products: </h2>
<p>These creations are made from traditional techniques passed down through generations.</p>

<div class="product-grid">
    <div class="product-item">
        <img src="/Picture/Woven Tapestry.jpg" height="300" alt="Woven Tapestry" />
        <h3>Woven Tapestry</h3>
        <p class="price">R3000</p>
    </div>
</div>

<div class="product-grid">
    <div class="product-item">
        <img src="/Picture/handwoven-basket.jpg" height="300" alt="Handwoven Basket" />
        <h3>Handwoven Basket</h3>
        <p class="price">R250</p>
    </div>

    <div class="product-item">
        <img src="/Picture/ceramic-vase.jpg" height="300" alt="Ceramic Vase" />
        <h3>Ceramic Vase</h3>
        <p class="price">R1000</p>
    </div>

</div>

<body>
    <form action="/Product/MyWork" method="post">
        <p>Insert new products</p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Price" placeholder="Price" required>
        <input type="text" name="Category" placeholder="Category" required>
        <input type="text" name="Availability" placeholder="Availability" required>
        <button type="submit">Submit</button>
    </form>
</body>
