@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <h1>Get in Touch</h1>
    <p>ST10311687@vcconnect.edu.za</p>
    <p>082 989 4745</p>
    <p>Cape Town</p>
    <p>7806</p>
</div>

<body>
    <form action=" " About" method="post">
        <p>Please enter your name and email if you would like to contact us:</p>
        <input type="text" name="Name" placeholder="" required />
        <input type="text" name="Surname" placeholder="" required />
        <input type="text" name="Email" placeholder="" required />
        <button type="submit">Submit</button>
    </form>
</body>
